*, * ::before, *::after{box-sizing: border-box;}

body{
    padding-left: 350px;
    padding-top: 100px;
}
.header{
    border: solid black 3px;
    background-color:lightslategrey;
    width: 900px;
    height: auto;
    text-align: center;
    font-family: 'Frijole', cursive;
    font-size: 25px;
}
.main-Container{
    border : solid black 3px;
    width: 900px;
    height: 600px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: black;
}
.options{
    border-radius: 12px;
    height: 50%;
    width: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
}
.btn1,
.btn2,
.eraseBtn{
    cursor: pointer;
            border: 1px solid white;
            background-color: transparent;
            color: white;
            font-size: 1.3em;
            padding: 5px 15px;
            box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
            border-radius: 8px;
}
.btn1:hover{
    cursor: pointer;
    transform: scale(1.25);
    background: #000;
    color: #FFF;
}
.btn2:hover{
    cursor: pointer;
    transform: scale(1.25);
    background: #000;
    color: #FFF;
}
.eraseBtn:hover{
    cursor: pointer;
    transform: scale(1.25);
    background: #000;
    color: #FFF;
}

.divContainer{
    height: 90%;
    width: 80%;
    display: flex;
    background: white;
    border: solid lightslategrey 3px;
}

